@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
main{
    box-sizing: border-box;
    min-height: 80%;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 1.5em;
}
.name{
    position: absolute;
    top: 30%;
    left: 10%;
    animation: 1s ease-out 0s 1 slidefrombottom;
    transform: translateY(-70%);
    font-size: min(8vw, 52px);
}

@keyframes slidefrombottom{
    0%{
        transform: translateY(0);
        opacity: 0;
    }

    100%{
        transform: translateY(-70%);
        opacity: 1;
    }
}

header{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    height: 10%;
}