@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

main{
    box-sizing: border-box;
    height: 80vh;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 1.5em;
}

.name{
    animation: 1s ease-out 0s 1 slidefrombottom;
    transform: translateY(-40px);
    font-size: min(8vw, 52px);
    margin-top: 5vw;
}

@keyframes slidefrombottom{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-40px);
        opacity: 1;
    }
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 10%;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    height: 10vh;
}

#div-whatever{
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 16vw;
    margin-right: 28vw;
    align-items: center;
}